#search-section {
  margin-top: 5%;
}
#random-line {
  margin-top: 3.5%;
}
#search-button {
  margin-top: 3%;
}
.card {
  flex-basis: 25% !important;
  max-width: 22%;
  margin: 15px;
  justify-content: space-between;
}
.card-footer {
  background-color: transparent;
  border: 0;
}
button {
  margin: 0 auto;
}
input {
  width: 100%;
  height: 75px;
  font-size: 3em;
  border: 0px;
  border: 1px solid #CCC;
  border-radius: 8px;
  background-color: rgba(250,250,250,0.5);
  padding: 25px 15px 25px 15px;
  color: #2563AB;
}
input:focus {
  outline-width: 0;
}
.results {
  visibility: hidden;
  padding-bottom: 40px;
}
.card-deck span {
  background-color: rgba(37,99,171,0.1);
}
.result-title {
  color: #2563AB !important;
}
.card-deck {
  margin: 3% 0 3% 0;
}
