#search-section {
  margin-top: 5%;
}
#random-line {
  margin-top: 3.5%;
}
#search-button {
  margin-top: 3%;
}

input {
  width: 100%;
  height: 75px;
  font-size: 3em;
  border: 0px;
  border: 1px solid #CCC;
  border-radius: 8px;
  background-color: rgba(250,250,250,0.5);
  padding: 15px;
  color: #2563AB;
}
input:focus {
  outline-width: 0;
}
div.results span {
  background-color: rgba(37,99,171,0.1);
}
.result-title {
  color: #2563AB !important;
}
div.results {
  margin-top: 3%;
}
